# APP ENV VARS
DB_HOST=10.0.10.50
DB_PORT=3306
DB_NAME=naf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8
SENTRY_DSN=
SSO_LOGIN_URL=
SSO_CERT_FILE_NAME=sso.cert
SSO_ID_ATTRIBUTE_NAME=id
SSO_EMAIL_ATTRIBUTE_NAME=email
SSO_FIRST_NAME_ATTRIBUTE_NAME=firstName
SSO_LAST_NAME_ATTRIBUTE_NAME=lastName

# DOCKER ENV VARS
SSH_DIR=~/.ssh